<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input ng-model="searchString" type="text" class="form-control" placeholder="Search for an artist" ng-keyup="$event.keyCode == 13 && search()">
                <span class="input-group-btn">
			        <button class="btn btn-default" type="button" ng-click="search()">Go!</button>
			     </span>
            </div>
        </div>
    </div>
    <div id="results" class="flex-table">
        <div ng-repeat="artist in results" class="flex-table-row">
            <a href="#/view2" ng-click="selectArtist(artist.name, artist.id)" class="flex-table-item results">
            	{{artist.name}}
            </a>
        </div>
        <div ng-if="message!==''"><i>{{message}}<i><div>
    </div>
</div>